#table{
    width: 100%;
    text-align: center;
}

#Update{
    display: none;
}

/* Sort Button Styling */
#sorting{
    border: none;
    outline: none;
    background: none;
    color: #ced4da;
}

.sortOpt{
    color: black;
}